#amazon-search {
    background-color: #ffeb3b;
    width: fit-content;
    height: 30px;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 24px;
    border: 1px solid #777;
}

#amazon-search > a {
    color: #0087fd;
}

